@import '../../style/variables';

nav {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: $black;
  color: $light;
  h1 {
    margin-bottom: 0;
    grid-column: 1/2;
    align-self: start;
  }
  .menu-sm {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100vh;
    background-color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      margin: 5rem 1rem;
      list-style: none;
      a {
        font-size: 2rem;
        text-decoration: none;
        color: $light;
      }
    }
  }
  .menu-md {
    display: none;
  }
  .menu-icon {
    grid-column: 2/3;
    align-self: start;
    justify-self: end;
    margin: 2.4rem 2rem 0 0;
  }
}

@media (min-width: 992px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    h1 {
      position: fixed;
      align-self: center;
    }
    .menu-sm {
      display: none;
    }
    .menu-md {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
     margin-top: 10rem;
      li {
        margin: 5rem 1rem;
        list-style: none;
        a {
          font-size: 2rem;
          text-decoration: none;
          color: $light;
        }
      }
    }
    .menu-icon {
      display: none;
    }
  }
}
